:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

html, body {
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

main {
  width: 80%;
  margin: 2rem auto;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
}

.btn-opcao {
  width: 20rem;
}

.modal-content {
  background-color: var(--primary);
  border-color: #F3F3F3;
}

.selecao {
  display: flex;
  justify-content: center;
}

.selecao-01 {
  flex-grow: 1;
}

#cadJogadores {
  margin-bottom: 1rem;
}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  height: 20rem;
  background-image: url("fundo_card.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.card-01 {
  height: 2rem;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.card-01-logo {
  height: 20px;
  border-radius: 50%;
  margin: 0 5px
}

.card-01-titulo {
  margin: revert;
  font-weight: bold;
  color: white;
}

.card-02 {
  height: 12rem;
  display: flex;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 1px 1px 8px gray;
}

.card-02-1 {
  width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-carac {
  width: 3rem;
  margin: 0 auto;  
}

.card-carac-titulo {
  background-color: white;
  border-radius: 10%;
  font-size: 15px;
  margin: 0;
  text-align: center;
}

.card-carac-valor {
  color: white;
  text-align: center;
  margin: 0;
}

.card-02-2 {
  width: 10rem;
  display: flex;
  align-items: flex-end;
}

.card-02-2-img {
  width: 10rem;
}

.card-03 {
  height: 6rem;
  font-family: cursive;
}

.card-03-nome {
  background-color: white;
  height: 1.5rem;
}

.nome-jogador {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.card-03-atrib {
  display: flex;
  padding-top: 0.3rem;
}

.card-03-atrib-carac {
  width: 10rem;
  padding-left: 15px
}

.posicao-01 {
  font-size: 28px;
}

.card-03-atrib-num {
  width: 5rem;
  text-align: center;
  margin: auto 0;
}

.carac-num {
  font-size: 45px;
}

.margin {
  margin: 0;
}

header {
  padding: 10px;
  text-align: center;
  background-color: var(--light);
}

.icon-header {
  height: 7rem;
  margin-right: 10px;
  border-radius: 50%;
}

#painelLista {
  margin-top: 2rem;
}

#listJogadores {
  border: white solid 2px;
  border-radius: 10px;
  padding: 10px;
}

footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}